<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../static/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
	</head>

	<body>
		<!--首页滚动栏-->
		<div id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="../static/img/images/slider-2.JPG">
					</a>
				</div>
				<!-- 第一张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../static/img/images/slider-0.JPG">
					</a>
				</div>
				<!-- 第二张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../static/img/images/slider-1.JPG">
					</a>
				</div>
				<!-- 第三张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../static/img/images/slider-2.JPG">
					</a>
				</div>
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="../static/img/images/slider-0.JPG">
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>

		<!--选项grid-->
		<div class="mui-content">
			<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin: 0px;padding: 0px;">
				<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon iconfont icon-newgoods"></span>
						<h6>新品</h6>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon iconfont icon-cocalendar"></span>
						<h6>每日特惠</h6>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon iconfont icon-qiandao"></span>
						<h6>签到</h6>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#">
						<span class="mui-icon iconfont icon-zhekouquan"></span>
						<h6>领券</h6>
					</a>
				</li>
			</ul>
		</div>

		<!--产品推荐-->
		<div class="title">
			精品推荐
		</div>
		<ul class="mui-table-view">
			<li class="mui-table-view-cell" style="margin: 0px;padding: 0px;">
				<img src="../static/img/images/carousel0.jpg" alt="" />
			</li>
			<li class="mui-table-view-cell" style="margin: 0px;padding: 0px;">
				<img src="../static/img/images/carousel0.jpg" alt="" />
			</li>
			<li class="mui-table-view-cell" style="margin: 0px;padding: 0px;">
				<img src="../static/img/images/carousel0.jpg" alt="" />
		</ul>

		<!--展示-->
		<div class="mui-content" style="padding: 0px;margin: 0px;">
			<ul class="mui-table-view mui-grid-view" style="padding: 0px;margin: 0px;">
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6" style="padding: 5px 0px 0px 10px;">
					<img src="../static/img/images/showlist-0.JPG" alt="" class="mui-media-object" />
				</li>
			</ul>
		</div>
		<script src="../static/js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			var slider = mui("#slider");
			slider.slider({
				interval: 3000
			});
		</script>
	</body>

</html>