/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */


#bestview>li {
	margin: 0px;
	padding: 0px;
}

#opview {
	margin: 0px;
	padding: 0px;
}

#opview>li {
	margin: 0px;
	padding: 0px;
}

#hotview {
	margin: 0px;
	padding: 0px;
}

#hotview>ul {
	padding: 0px;
	margin: 0px;
}

#hotview>ul>li {
	padding: 5px 0px 0px 10px;
}