
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1464590757'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1464590757#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1464590757') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1464590757') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1464590757#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-youhuiquan1:before { content: "\e60d"; }
.icon-guanzhu:before { content: "\e60b"; }
.icon-shop:before { content: "\e607"; }
.icon-jifen:before { content: "\e60e"; }
.icon-shop1:before { content: "\e608"; }
.icon-xin:before { content: "\e611"; }
.icon-guanzhu1:before { content: "\e60c"; }
.icon-shop2:before { content: "\e609"; }
.icon-xinpin:before { content: "\e612"; }
.icon-zhekouquan:before { content: "\e60a"; }
.icon-cocalendar:before { content: "\e600"; }
.icon-qiandao1:before { content: "\e613"; }
.icon-youhuiquan2:before { content: "\e614"; }
.icon-tehui:before { content: "\e615"; }
.icon-jifen1:before { content: "\e60f"; }
.icon-savings:before { content: "\e601"; }
.icon-alarm:before { content: "\e602"; }
.icon-free:before { content: "\e603"; }
.icon-piao:before { content: "\e604"; }
.icon-qiandao2:before { content: "\e605"; }
.icon-newgoods:before { content: "\e606"; }
.icon-message:before { content: "\e610"; }
