<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="buyjum" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../static/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../static/css/iconfont.css" />

	</head>

	<body>
		<div class="mui-navbar-inner mui-bar mui-bar-nav">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-center mui-title">添加完成</h1>
		</div>
		<h4>已放入购物车</h4>
		<button id="backtobuy" type="button" class="mui-btn mui-btn-danger">继续购物</button>
		<button id="gotoshopcar" type="button" class="mui-btn mui-btn-danger ">进入购物车</button>
		
		<script src="../../static/js/mui.min.js"></script>
		<script type="text/javascript" charset="UTF-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});

			document.getElementById('gotoshopcar').addEventListener('tap',function(){
				mui.openWindow({
					id:'goshopcar',
					url:'http://192.168.80.105:8080/shop_car',
				});
			});//整一个超链接范围都是tap点击区，反应更迅速
			document.getElementById('backtobuy').addEventListener('tap',function(){	
						mui.back();
			});			
		</script>
	</body>

</html>